.collections {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  padding-block: 1.5rem;
  padding-inline: 1rem;
  background-color: #21212b;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (max-width: 700px) {
  .collections {
    position: fixed;
    height: 100vh;
    width: 250px;
    left: -100%;
    min-height: 600px;
    overflow-y: auto;
    z-index: 2;
    padding-inline: 1rem;
    transition: left 300ms ease;
  }

  .collections::-webkit-scrollbar {
    width: 10px;
  }

  .collections::-webkit-scrollbar-track {
    background: #202020;
  }

  .collections::-webkit-scrollbar-thumb {
    background: #535454;
  }

  .collections::-webkit-scrollbar-thumb:hover {
    background: #626363;
  }

  .collections.show {
    left: 0%;
  }
}
