.collections__item {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  position: relative;
  cursor: pointer;
  min-width: 0;
}

.collections__item.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #ff7ba8;
  z-index: 1;
  transition: width 300ms ease;
}

.collections__item::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #181820;
}

.collections__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0px;
  left: 0;
  background-color: #ff7ba8;
  z-index: 1;
  transition: width 300ms ease;
}

.collections__item:hover::after {
  width: 100%;
}

.collections__name {
  width: 100%;
  transition: all 300ms ease;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: inherit;
}

.collections__name:focus {
  outline: none;
  border: 3px solid #b8b8bb;
  border-radius: 20px;
  padding: 0.5rem;
}
