.collections__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collections__header > button {
  border: none;
  padding: 0;
  background-color: transparent;
  color: #ffffff;
}

.collections__header > button > i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ff7ba8;
  display: none;
  place-content: center;
  cursor: pointer;
  transition: transform 300ms ease;
}

.collections__header > button > i:hover,
.collections__header > button > i:focus {
  transform: scale(1.25);
}

@media screen and (max-width: 700px) {
  .collections__header > button > i {
    display: grid;
  }

  .collections__header > button > i:hover,
  .collections__header > button > i:focus {
    transform: scale(1.25);
  }
}
