.tasks {
  grid-column: 2 / -1;
  padding: 3rem;
  width: 80%;
  color: #ffffff;
  margin-inline: auto;
}

@media screen and (max-width: 1100px) {
  .tasks {
    width: 90%;
    padding: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .tasks {
    width: 100%;
    grid-column: 1 / -1;
  }
}
