.item {
  padding: 1rem 0.5rem;
  background-color: #21212b;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: space-between;
}

.item input {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.detail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  min-width: 0;
}

.detail > span {
  width: 100%;
  line-height: 30px;
  transition: all 300ms ease;
  display: inline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: inherit;
}

.detail > span:focus {
  outline: none;
  border: 3px solid #b8b8bb;
  border-radius: 30px;
  padding: 0.5rem;
}

.checkIcon {
  border: 2px solid #ff7ba8;
  border-radius: 50%;
  min-width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  transition: background-color 300ms cubic-bezier(0.25, 1, 0.5, 1);
  cursor: pointer;
}

.checkIcon > i {
  transform: scale(0) rotateZ(180deg);
  transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
}

.item input:checked ~ .checkIcon {
  background-color: #ff7ba8;
}

.item input:checked ~ .checkIcon i {
  transform: scale(1) rotateZ(0);
}
