.tasks__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  min-width: 0;
}

.tasks__header > h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tasks__header > button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.tasks__header > button > i {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #21212b;
  color: #ffffff;
  transition: background 300ms ease, color 300ms ease;
  cursor: pointer;
}

.tasks__header > button > i:hover,
.tasks__header > button > i:focus {
  background-color: #ff7ba8;
}

.tasks__header > button:disabled > i {
  color: #ffffff70;
  cursor: default;
}

.tasks__header > button:disabled > i:hover,
.tasks__header > button:disabled > i:focus {
  background-color: #21212b;
}
