.container {
  position: relative;
  display: grid;
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  grid-template-columns: 300px minmax(0, 1fr);
  grid-template-rows: 4rem 1fr;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 200px 1fr;
  }
}
