.header {
  grid-column: 2 / -1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  color: #b8b8bb;
  background-color: #21212b;
  border-left: 3px solid #181820;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > button {
  padding: none;
  background-color: transparent;
  border: none;
  color: #b8b8bb;
}

.header__left > button > i {
  margin-right: 1.5rem;
  transition: color 300ms ease;
  font-size: 1rem;
  cursor: pointer;
  display: none;
}

.header__left > button > i:hover,
.header__left > button > i:focus {
  color: #ff7ba8;
}

.header__title > i {
  margin-right: 0.5rem;
}

.header__right > i {
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  background-color: #ff7ba8;
  color: #ffffff;
  transition: transform 300ms ease;
  cursor: pointer;
}

.header__right > i:hover,
.header__right > i:focus {
  transform: scale(1.25);
}

@media screen and (max-width: 700px) {
  .header {
    grid-column: 1 / -1;
    border: none;
    padding: 1.5rem 1rem;
  }

  .header__left > button > i {
    display: inline;
  }
}
