*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #ff7ba8;
  color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #181820;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #202020;
}

body::-webkit-scrollbar-thumb {
  background: #535454;
}

body::-webkit-scrollbar-thumb:hover {
  background: #626363;
}
