.buttons__group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.buttons__group > button {
  border: none;
  background-color: transparent;
}

.buttons__group > button > i {
  color: #ffffff;
  font-size: 16px;
  transition: color 300ms ease;
  cursor: pointer;
}

.buttons__group > button > i:hover,
.buttons__group > button > i:focus {
  color: #ff7ba8;
}
