.input {
  position: relative;
}

.input > button {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.input > button > i {
  width: 30px;
  height: 30px;
  transform: rotate(0) scale(1);
  background-color: #ff7ba8;
  color: #ffffff;
  border-radius: 50%;
  display: grid;
  place-content: center;
  transition: transform 300ms ease;
}

.input > button:hover > i,
.input > button:focus > i {
  transform: rotate(180deg) scale(1.25);
}

.input > input {
  border-radius: 80px;
  background-color: transparent;
  height: 50px;
  width: 100%;
  font-size: 16px;
  color: #ffffff;
  transition: border 300ms ease;
}

.input.tasks__input > input {
  border: 3px solid #21212b;
  padding-left: 60px;
  padding-right: 10px;
}

.input.collections__input > input {
  border: 3px solid #181820;
  padding-left: 45px;
  padding-right: 10px;
}

.input > input::placeholder {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: translateY(1px);
}

.input > input:hover,
.input > input:focus {
  outline: none;
  border: 3px solid #b8b8bb;
}
