.buttons__group {
  display: flex;
  gap: 0.5rem;
}

.buttons__group button {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.buttons__group i {
  transition: color 300ms ease;
  font-size: 16px;
  color: #ffffff;
}

.buttons__group i:hover,
.buttons__group i:focus {
  color: #ff7ba8;
}
